
<div class="dialog-container">
  <div class="pokemon-details">
    <div class="poke-image-gif">
      <img  [src]="data.selectedPokemon.sprites.other.showdown.front_default ?? data.selectedPokemon.sprites.other['official-artwork'].front_default" [alt]="data.selectedPokemon.name">
    </div>
    <div class="pokemon-info">
      <p>Nombre: {{ data.selectedPokemon.name }}</p>
      <p>Altura: {{ (data.selectedPokemon.height / 10).toFixed(2) }} m</p>
      <p>Peso: {{ (data.selectedPokemon.weight / 10).toFixed(2) }} kg</p>
      <p>Habilidades:</p>
      <ul>
        <li *ngFor="let ability of data.selectedPokemon.abilities">{{ ability.ability.name }}</li>
      </ul>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Cerrar</button>
</div>
